apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: web-app
    tier: frontend
  name: web-app
spec:
  replicas: 4
  selector:
    matchLabels:
      app: web-app
  template:
    metadata:
      labels:
        app: web-app
        tier: frontend
    spec:
      containers:
      - image: nginx:1.25
        name: nginx

